:root {
  --woori-whtie: #ffffff;
  --woori-light-blue: #20c4f4;
  --woori-blue: rgb(0, 131, 202);
  --color-border: #9aa6b2;
  --color-keyword: #adadad;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;

  background: white;
  /* background: linear-gradient(
    0,
    rgba(255, 255, 255, 1) 0%,
    rgba(32, 196, 244, 1) 50%,
    rgba(0, 131, 202, 1) 100%
  ); */
}

header {
  text-align: center;
  height: 56px;
  flex-shrink: 0;
}

.chat-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 채팅 */
.chat-messages {
  flex: 1;
  overflow-y: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 6px 0;
}

.bubble {
  padding: 8px 12px;
  border-radius: 14px;
  line-height: 1.4;
  word-break: break-word;
  background-color: #9aa6b2;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.keywords {
  margin-top: 6px;
  display: flex;
  gap: 6px;
}

.keyword {
  font-size: 12px;
  padding: 4px 8px;
  background: var(--color-keyword);
  border-radius: 12px;
  cursor: pointer;
}

/* 입력 */
.chat-input {
  border: 1px solid var(--color-border);
  padding: 10px;
  background: #fff;
  display: flex;
  height: auto;

  border-radius: 15px;
}

#input-textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  line-height: 1.4;
  padding: 8px;
  border: none;
  outline: none;
}

/* 버튼 */
.icon-btn {
  width: auto;
  height: 100%;
  border: none;
  /* background: transparent; */
  padding: 10px;
  cursor: pointer;
}

.icon-btn img {
  width: 24px;
  height: 24px;
  display: block;
}

/* 자동 완성 */
.auto-complete-container {
  margin: 10px;
  background-color: var(--color-border);
  overflow: scroll;
  max-height: 10%;
  height: auto;
}
