:root {
  --woori-whtie: #ffffff;
  --woori-light-blue: rgb(32, 196, 244);
  --woori-blue: rgb(0, 131, 202);
  --color-border: #9aa6b2;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

header {
  text-align: center;
  height: 56px;
  flex-shrink: 0;
}

.chat-container {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 채팅 */
.chat-messages {
  flex: 1;
  overflow-y: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 6px 0;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
}

/* 입력 */
.chat-input {
  border: 1px solid var(--color-border);
  padding: 10px;
  background: #fff;
  display: flex;
  height: auto;

  border-radius: 15px;
}

#input-textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  line-height: 1.4;
  padding: 8px;
  border: none;
  outline: none;
}

/* 버튼 */
.icon-btn {
  width: auto;
  height: 100%;
  border: none;
  /* background: transparent; */
  padding: 10px;
  cursor: pointer;
}

.icon-btn img {
  width: 24px;
  height: 24px;
  display: block;
}

/* 자동 완성 */
.auto-complete-container {
  margin: 10px;
  background-color: var(--color-border);
}
